
<!-- some help from here https://getbootstrap.com/docs/4.0/examples/product/ -->
<div class="d-flex flex-column">
    <app-nav-bar></app-nav-bar>
    <section class="min-vh-100 back">
        <div class="d-flex flex-column">
            <div class="first-headline text-center">
                <div class="col-md-6 p-lg-5 mx-auto my-5 first-headline-middle">
                    <h1>Flashcarding 2gether</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid est, dolores neque aliquam eius ut totam? Nemo expedita placeat laudantium voluptates error. Officia quidem velit vero, fugit modi magni nemo?</p>
                    <button mat-stroked-button color="secondary"  style="background-color: rgb(228, 121, 205);" (click)="goToCreateAccount()">Create an account</button>
                    <h4 style="margin-top: 15px;">Already have an account?</h4>
                    <button mat-stroked-button color="secondary"  style="background-color: rgb(228, 121, 205);" (click)="goToLogin()">Login</button>
                </div>
            </div>
            <div class="features-title">
                <h1>Features</h1>
            </div>
            <div class="second-headline text-center">
                <div class="d-md-flex second-headline-flex">
                    <div class="col-md-4 overflow-hidden headline-first-item">
                        <h1>Title 1</h1>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur sint eaque quas sit ipsum fuga accusamus architecto cupiditate, hic laudantium deserunt inventore. Praesentium odit, iure porro placeat expedita fugiat facere?</p>
                        <div class="headline-list">
                            <ul>
                                <li>Item 1</li>
                                <li>Item 2</li>
                                <li>Item 3</li>
                            </ul>
                        </div>
                        <button mat-stroked-button color="secondary"  style="background-color: rgb(228, 121, 205);" (click)="goToCreateAccount()">Go to my lessons</button>

                    </div>
                    <div class="col-md-4 overflow-hidden headline-second-item">
                        <h1>Title 2</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci expedita placeat ex, rem id officiis eligendi, quam fugit voluptas corporis cumque exercitationem illum odio dignissimos cum repudiandae, optio ab repellendus?</p>
                        <div class="headline-list">
                            <p></p>
                            <ul>
                                <li>Item 1</li>
                                <li>Item 2</li>
                                <li>Item 3</li>
                            </ul>
                        </div>
                        <button mat-stroked-button color="secondary"  style="background-color: rgb(228, 121, 205);" (click)="goToCreateAccount()"></button>
                    </div>
                    <div class="col-md-4 overflow-hidden headline-third-item">
                        <h1>Title 3</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dicta ex, animi, facilis corporis perferendis delectus tempora asperiores sunt culpa alias odit. Est ducimus unde hic! Impedit excepturi a dolorum.</p>
                        <div class="headline-list">
                            <ul>
                                <li>Item 1</li>
                                <li>Item 2</li>
                                <li>Item 3</li>
                            </ul>
                        </div>
                        <button mat-stroked-button color="secondary"  style="background-color: rgb(228, 121, 205);" (click)="goToCreateAccount()">Create Account</button>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </section>
</div>

