<!-- help for footer from https://getbootstrap.com/docs/4.0/examples/product/ -->
<footer class="container py-5 footer-container">
    <div class="row footer-row">
        <div class="col-12 col-md">
            <h5>Created by Luis Garcilazo</h5>

        </div>
        <div class="col-6 col-md">
            <h5>Lessons</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="" routerLink="/lessons">Public Lessons</a>
                </li>
                <li>
                    <a class="" lessons="/lessons/saved">My Lessons</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Manage account</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="" routerLink="/create-account">Create Account</a>
                </li>
                <li>
                    <a class="" routerLink="/login">Login</a>
                </li>
                <li>
                    <a class="" routerLink="/update-account">Update account info</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="" routerLink="/about">About page</a>
                </li>
                <li>
                    <a class="">Github link</a>
                </li>
            </ul>
        </div>
    </div>
</footer>